<div data-role="modalview" id="newTodo" data-model="APP.newTodo.model" data-init="APP.newTodo.events.init" style="display: none" data-width="80%">
  <div data-role="header">
    <div data-role="navbar">
      <span data-role="view-title">New Todo</span>
      <a data-role="button" data-bind="click: close" data-align="right" data-icon="close"></a>
    </div>
  </div>
  <ul data-role="listview" data-style="inset">
    <li>
        Todo:
        <textarea name="newTodo" id="newTodo" data-bind="value: text"></textarea>
    </li>
  </ul>
  <a data-bind="click: add" data-role="button" class="full">Add</a>
</div>