<div data-role="modalview" id="newCategory" data-model="APP.newCategory.model" data-init="APP.newCategory.events.init" data-width="80%">
  <div data-role="header">
    <div data-role="navbar">
      <span data-role="view-title">New Category</span>
      <a data-role="button" data-bind="click: close" data-align="right" data-icon="close"></a>
    </div>
  </div>
  <ul data-role="listview" data-style="inset">
    <li>
      Name: 
      <input type="text" data-bind="value: text" >
    </li>
  </ul>
  <a data-bind="click: add" data-role="button" class="full">Add</a>
</div>