<div data-role="view" id="todos" data-model="APP.todos.model" data-init="APP.todos.events.init" data-after-show="APP.todos.events.afterShow" style="display: none;">
  <header data-role="header">
    <div data-role="navbar">
      <a data-role="button" data-rel="drawer" href="#categories" data-icon="drawer-button" data-align="left"></a>
      <span data-role="view-title"></span>
      <a data-role="button" data-rel="modalview" href="#newTodo" data-align="right" data-icon="compose"></a>
    </div>
  </header>
  <ul data-role="listview" data-bind="source: todos" data-template="todos-template"></ul>


    <a data-role="button" href="#foo" data-rel="popover">Open PopOver</a>

    <div id="foo" data-role="popover" data-pane='{ "initial": "#view2" }'>
        <div data-role="view" id="view1" data-title="view1">
            View 1
        </div>
        <div data-role="view" id="view2" data-title="view2">
            View 2
        </div>
    </div>
</div>

<script type="text/x-kendo-template" id="todos-template">
  #: title #
</script>